<h3>{{ authors.length }} authors</h3>
<ul>
  <li *ngFor="let author of authors">{{ author }}</li>
</ul>

<span>dangerButton (?) => {{ isDanger }}</span>
<button class="btn btn-default text-uppercase" [class.btn-danger]="isDanger">
  sample button
</button>

<div (click)="onDivClicked()">
    <button
    class="btn"
    [style.backgroundColor]="isDanger ? 'red' : 'grey'"
    (click)="onSave($event)"
  >
    style binding SAVE
  </button>
</div>

<input (keyup.enter)="onKeyUp(input.value)" #input />
<input (keyup.enter)="onEmailKeyUp()" [(ngModel)]="email"/>

