<h3>{{ authors.length }} authors</h3>
<ul>
  <li *ngFor="let author of authors">{{ author }}</li>
</ul>

<span>dangerButton (?) => {{ isDanger }}</span>
<button class="btn btn-default text-uppercase" [class.btn-danger]="isDanger">
  sample button
</button>

<div (click)="onDivClicked()">
    <button
    class="btn"
    [style.backgroundColor]="isDanger ? 'red' : 'grey'"
    (click)="onSave($event)"
  >
    style binding SAVE
  </button>
</div>

<input (keyup.enter)="onKeyUp(input.value)" #input />
<input (keyup.enter)="onEmailKeyUp()" [(ngModel)]="email"/>

<h3>Course object</h3>
<ul>
  <li>title: {{ course.title | uppercase }}</li>
  <li>rating: {{ course.rating | number:'1.2-2' }}</li>
  <li>students: {{ course.students | number }}</li>
  <li>price: {{ course.price | currency:'EUR':true:'3.2-2' }}</li>
  <li>release date: {{ course.releaseDate | date:'shortDate' }}</li>
</ul>

<h3>Angular Custom Pipe</h3>
{{ text | summary: 100 }}

