<div>
  <h5>*ngIf</h5>
  <div *ngIf="courses.length; then coursesList else noCourses"></div>

  <ng-template #coursesList>List of Courses</ng-template>
  <ng-template #noCourses>No courses yet</ng-template>
</div>
<hr/>
<tweet-like
  [is-active]="tweet.isLiked"
  [likes-count]="tweet.likesCount"
  [body]="tweet.body"
>
</tweet-like>

<bootstrap-panel>
  <ng-container class="heading">
    <h3>heading with ng-content</h3>
  </ng-container>
  <div class="body">
    <h3>body title with ng-content</h3>
    <p>body content with ng-content...</p>
  </div>
</bootstrap-panel>
<input-favorite
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChange($event)"
>
</input-favorite>
<input type="text" [(ngModel)]="title"/>
<br/>
{{ title | titleCase }}
<favorite></favorite>
<app-course></app-course>
<authors></authors>