<input type="text" [appInputFormat]="'lowercase'"/>
<hr/>

<span
  class="glyphicon"
  [ngClass]="{
  'glyphicon-star': isSelected,
  'glyphicon-star-empty': !isSelected
  }"
>
</span>

<div>
  <h5>[ngSwitch]</h5>
  <ul class="nav nav-pills">
    <li [class.active]="viewMode === 'map'"><a (click)="viewMode = 'map'">MAP VIEW</a></li>
    <li [class.active]="viewMode === 'list'"><a (click)="viewMode = 'list'">LIST VIEW</a></li>
  </ul>
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchDefault>Otherwise</div>
  </div>
</div>
<hr/>

<div>
  <h5>[hidden]</h5>
  <div [hidden]="courses.length">no courses</div>
</div>
<hr/>

<div>
  <h5>*ngIf</h5>
  <div *ngIf="courses.length; then coursesList else noCourses"></div>

  <ng-template #coursesList>List of Courses</ng-template>
  <ng-template #noCourses>No courses yet</ng-template>
</div>
<hr/>

<tweet-like
  [is-active]="tweet.isLiked"
  [likes-count]="tweet.likesCount"
  [body]="tweet.body"
>
</tweet-like>

<bootstrap-panel>
  <ng-container class="heading">
    <h3>heading with ng-content</h3>
  </ng-container>
  <div class="body">
    <h3>body title with ng-content</h3>
    <p>body content with ng-content...</p>
  </div>
</bootstrap-panel>
<input-favorite
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChange($event)"
>
</input-favorite>
<input type="text" [(ngModel)]="title"/>
<br/>
{{ title | titleCase }}
<favorite></favorite>
<app-course></app-course>
<authors></authors>