<form #courseForm="ngForm" (ngSubmit)="submit(courseForm.value)">
  <div class="form-group">
    <label for="course">Course</label>
    <input
      required
      minlength="5"
      ngModel
      type="text"
      id="course"
      name="course"
      #course="ngModel"
      class="form-control">
    <div *ngIf="course.touched && course.invalid" class="alert alert-danger">
      <p *ngIf="course.errors.required">this field is required</p>
      <p *ngIf="course.errors.minlength">
        course name should have minimum {{ course.errors.minlength.requiredLength }} characters
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select
      required
      ngModel
      id="category"
      name="category"
      #category="ngModel"
      class="form-control">
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <div *ngIf="category.touched && category.invalid" class="alert alert-danger">this field is required</div>
  </div>
  <div class="form-group">
    <input ngModel type="checkbox" id="guarantee" name="guarantee">
    <label for="guarantee">30-dat money back guarantee</label>
  </div>
  {{ courseForm.value | json}}
  <button class="btn btn-primary" [disabled]="courseForm.invalid">Create</button>
</form>
